.card{
    background-color: var(--fl);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

.card img{
    width: 100%;
}